main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  
}
/* box offer words */
.box_one__offerWords{
    height: 472px;
    width: 90%;
    background: #E8E8E8;
    border-radius: 10px;
    position: relative;
}
.one_offerWords__text{
    height: 38%;
    width: 25%;
    right: 292px;
    position: absolute;
    top: 93px;
}
.offerWords_text__name{
    height: 56px;
    width: 300px;
    font-family:'HerculesModern'; 
    line-height: 56px;
}
.offerWords_text__name .p{
    display: inline-block;
}

.offerWords_text__text{
    height: 85px;
    width: 330px;
    position: relative;
    left: 80px;
	font-family: 'Gilroy-Medium'; 
    font-size: 18px;
    font-weight: 400;
    margin-top:23px;
    margin-bottom: 16px;
}
.offerWords_text__try{
    height: 39px;
    width: 213px;
    border-radius: 10px;
    background: #464646;
    font-family: 'Gilroy-Medium'; 
    font-size: 16px;
    text-align: center;
    color: white;
    position: relative;
    left: 80px;
    cursor: pointer;
}
.bottom_left_mymarket a{
    z-index: 100;
}
.youBuy_five__row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/* blox offer two */
.blox_offer_two{
    width: 90%;
    height: 472px;
    top: 50px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.offer_two__img{
    position: absolute;
    height: 102px;
    width: 100px;
    top:20px;
    left: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer_two__name{
    height: 56px;
    width: 169px;
    top: 90px;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    position: absolute;
    font-family: 'HerculesModern'; 
}
.offer_two__text{
    height: 70px;
    width: 40%;
    top: 168px;
    position: absolute;
    font-family: 'Gilroy-Regular';
    text-align: center; 
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.Offer_two__vk,
.Offer_two__TG{
    display: none;
}
.offer_btn__box
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 49px;
}
.offer_btn__box button{
    height: 39px;
    width: 213px;
    top: 167px;
    border-radius: 10px;
    background: #464646;
    color: white;
    margin-left: 30px;
    cursor: pointer;
}

/* block slider six */
.slider_box__home{
    width: 100%;
    height: 500px;
    background: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_slider{
    height: 361px;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 1160px;
    width: 95%;
    position: relative;
    bottom: 50px;
}
.block_slider__name{
    height: 25%;
    width: 190px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}
.block_slider__childen{
    display: flex;
    position: relative;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    align-items: center;
}
.slider_childen__backImg,
.slider_childen__nextImg{
    height: 60px;
    width: 60px;
    border-radius: 300px;
    cursor: pointer;
}
.slider__childen__container{
    height: 329px;
    width: 960px;
    border-radius: 10px;
    display: flex;
}
.childen_container__img{
    height: 329px;
    width: 360px;
    left: 100px;
    top: 88px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #5f5f5f;
}
.childen_container__textArea{
    background: #E8E8E8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.container_textArea__name{
    height: 25px;
    font-family: 'Gilroy-Medium'; 
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 33px 40px;
}
.container_textArea__text{
    height: 150px;
    width: 500px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 40px;
}
footer{
    margin-top: 0px;
}
/* active slider */
.slider__childen__container{
    display: none;
}
.slider__childen__container.active{
    display: flex;
}
/* main content */
/* 1189px */
@media screen and (max-width: 1200px) {
.box_one__offerWords{
    height: 453px;
}
.one_offerWords__text{
    height: 100%;
    width: 95%;
    right: 7px;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}
/* block slider six */
.slider_box__home{
    width: 150%;
    height: 360px;
    background: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.slider_box__home::before{
    content: "";
    width: 100%;
    height: 153%;
    position: absolute;
    left: 0px;
    top:0px;
    background: #D8D8D8;
}
.offerWords_text__name{
    height: 106px;
    width: 190px;
    font-size: 30px;
    margin-left: 21px;
    margin-bottom: 0px;
}
.offerWords_text__name p{
    display: block;
    position: relative;
    left: 59px;
    top: -15px;
}
.offerWords_text__text{
    height: 170px;
    width: 190px;
    margin-top:0px;
    margin-bottom: 10px;
}
.offerWords_text__try{
    width: 160px;
}
/* blox offer two */
.blox_offer_two{
    width: 100%;
    height: 330px;
margin-bottom: 0px;
    position: relative;
    flex-direction: start;

}
.offer_two__img{
    position: absolute;
    height: 55px;
    width: 40px;
    top:60px;
    left: -15px;
}
.offer_two__name{
    height: 36px;
    width: 169px;
    top: 10px;
}
.offer_two__text{
    height: 66px;
    width: 95%;
    top: 100px;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.offer_two__socialIkons{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 60px;
}
.offer_two__socialIkons img{
    display: flex;
    
}
.Offer_two__vk{
    height: 75px;
    width: 75px;
    left: 65px;
    border-radius: 0px;
    position: absolute;
    cursor: pointer;
}
.Offer_two__TG{
    height: 75px;
    width: 75px;
    left: 180px;
    border-radius: 0px;
    position: absolute;
    cursor: pointer;
}
.offer_btn__box{
    display: none;
}
/* block slider six */
.block_slider{
    height: 450px;
    width: 330px;
    top: 220px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}
.block_slider__name{
    text-align: center;
    font-size: 30px;
}
.block_slider__childen{
    height: 450px;
    border-radius: 10px;
}.slider_childen__backImg,
.slider_childen__nextImg{
    bottom: -60px;
    height: 40px;
    position: absolute;
    bottom: -60px;
    right: 80px;
}
.slider_childen__backImg{
    left: 80px;
}
.slider__childen__container{
    height: 390px;
    width: 100%;
}
.childen_container__img{
    height: 111px;
    width: 106px;
    left: 13px;
    top: 25px;
    border-radius: 10px;
    position: absolute;
}
.childen_container__textArea{
    width: 100%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    border-radius: 10px;
    left: 0;
    z-index: -10;
}
.container_textArea__name{
    font-size: 16px;
    width: 120px;
    height: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.container_textArea__text{
    height: 250px;
    width: 90%;
    position: relative;
    left: -35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 140px;
    color: black;
    left: -25px;
}
footer{
    top: 190px;
}
}
