/* main content */
main{
    width: 95%;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
/* box offer words */
.box_one__offerWords{
    height: 472px;
    max-width: 1160px;
    width: 95%;
    background: #E8E8E8;
    border-radius: 10px;
    position: relative;
}
.one_offerWords__text{
    height: 38%;
    width: 25%;
    right: 292px;
    position: absolute;
    top: 93px;
}
.offerWords_text__name{
    height: 56px;
    width: 300px;
    font-family:'HerculesModern'; 
    line-height: 56px;

}
.offerWords_text__text{
    height: 85px;
    width: 330px;
    position: relative;
    left: 80px;
	font-family: 'Gilroy-Medium'; 
    font-size: 18px;
    font-weight: 400;
    margin-top:23px;
    margin-bottom: 16px;
}
.offerWords_text__try{
    height: 39px;
    width: 213px;
    border-radius: 10px;
    background: #464646;
    font-family: 'Gilroy-Medium'; 
    font-size: 16px;
    text-align: center;
    color: white;
    position: relative;
    left: 80px;
    cursor: pointer;
}

/* box block about irina */
.box_two__aboutIrina{
    max-width: 1160px;
    width: 95%;
    position: relative;
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px auto 10px;
}
.two__aboutIrina__leftBox{
    width: 43%;
    height: 100%;
}
.two__aboutIrina__rightBox{
    width: 57%;
    height: 100%;
}
.aboutIrina__leftBox__name{
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}
.aboutIrina__leftBox__text{
    height: 200px;
    width: 460px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.aboutIrina_rightBox__img{
    height: 324px;
    width: 659px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 0px;
}
.aboutIrina_rightBox__text{
    position: relative;
    height: 160px;
    width: 525px;
    top: -68px;
    left: 99px;
    border-radius: 10px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    line-height: 25px;
    z-index: 10;
    background: #E8E8E8;
    padding: 30px 28px;
}
.aboutIrina_rightBox__paws{
    position: absolute;
    top:33px;
    right: -13px;
}

/* box block products */
.box_three__products{
    max-width: 1160px;
    width: 95%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 173px;
    /* border: 2px solid red; */
    flex-direction: column;
}
.three_products__name{
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    top:-83px;
    left:0px;
    position: absolute;
}
.three_products__one{
    max-width: 1160px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.products_one__entrance{
    height: 2px;
    width: 91%;
    position: relative;
    background: radial-gradient(84.62% 84.62% at 50% 15.38%, #464646 0%, rgba(255, 255, 255, 0) 100%);
}
.one_entrance__row{
    width:100%;
    height: 263px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.products_one__img{
    width: 10.5%;
}
.products_one__name{
    width: 20%;
	font-family: 'HerculesModern'; 
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    margin: 0 auto;
}
.products_one__text{
    width: 57%;
    height: 151px;
	font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.products_one__text .acaunts_register__text{
    margin-top: 10px;
}

/* block products four */
.block_youBuy__five{
    max-width: 1160px;
    width: 95%;
    position: relative;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 111px;
}
.youBuy_five__name{
    height: 56px;
    width: 876px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
}
.youBuy_five__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.five_row__boxOne{
    height: 218px;
    width: 360px;
    border-radius: 10px;
    background: #E8E8E8;
    margin-top: 71px;
    position: relative;
}
.row_boxOne__img{
    position: absolute;
    left: 24px;
    top: -39px;
}
.row_boxOne__name{
    height: 25px;
    width: 142px;
	font-family: 'Gilroy-Regular'; 
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    top:25px;
    position: absolute;
    right: 70px;
}
.row_boxOne__text{
    height: 100px;
    width: 282px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    bottom: 27px;
    left: 24px;
}
/* block slider six */
.block_slider{
    height: 361px;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 1160px;
    width: 95%;
    position: relative;
}
.block_slider__name{
    height: 25%;
    width: 190px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}
.block_slider__childen{
    display: flex;
    position: relative;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    align-items: center;

}.slider_childen__backImg,
.slider_childen__nextImg{
    height: 60px;
    width: 60px;
    border-radius: 300px;
    cursor: pointer;
}
.slider__childen__container{
    height: 329px;
    width: 960px;
    border-radius: 10px;
    display: flex;
}
.childen_container__img{
    height: 329px;
    width: 360px;
    left: 100px;
    top: 88px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #5f5f5f;
}
.childen_container__textArea{
    background: #E8E8E8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.container_textArea__name{
    height: 25px;
    font-family: 'Gilroy-Medium'; 
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 33px 40px;
}
.container_textArea__text{
    height: 150px;
    width: 500px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    margin: 40px;
}
/* active slider */
.slider__childen__container{
    display: none;
}
.slider__childen__container.active{
    display: flex;
}
/* block call to action seven */
.call_action{
    height: 730px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    width: 95%;
    position: relative;
}
.call_action__left{
    width: 50%;
    display: flex;
    align-items: flex-start;
    height: 60%;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}
.action_left__name{
    height: 56px;
    width: 479px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
}
.action_left__text{
    height: 100px;
    width: 543px;
    top: 220px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    margin-top: 22px;
}
.action_left__playMarket{
    display: flex;
    align-items: center;
    width: 102%;
    justify-content: space-between;
    margin-top: 46px;
}
.action_left__iphon{
    position: absolute;
    right: -180px;
    top: -10px;
}
