main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1960px;
    background: white;
}
 .story_about__irina{
    height: 601px;
    width: 90%;
    max-width: 1960px;
    background: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
 }
 .about_irina__columpLeft{
    width: 47%;
    height: 70%;
    padding-left: 35px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
 }
 .irina_columpLeft__name{
    height: 112px;
    width: 450px;
	font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em; 
    margin-bottom: 23px;
 }
 .irina_columpLeft__text{
    height: 180px;
    width: 465px;
	font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
 }
 .offerWords_text__try{
    height: 39px;
    width: 213px;
    border: none;
    outline: none;
    border-radius: 10px;
    border-radius: 10px;
    background: #464646;
    font-family: 'Gilroy-Medium'; 
    font-size: 16px;
    text-align: center;
    color: white;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}
 .about_irina__columpRight{
    width: 47%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    
 }
 .about_irina_img{
    height: 421px;
    width: 560px;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 25px; 
    display: none;  
 }
 .about_irina_img{
    height: 421px;
    width: 560px;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 25px; 
    display: none;  
 }
 .about_irina__img.slider{
    height: 421px;
    width: 560px;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 25px; 
    display: none;  
 }
 .about_irina__img.slider.active{
     display: flex;
 }
/* Our courses */
.block_Our__courses{
    max-width: 1960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 1133px;
    background: #E8E8E8;
    margin-top: 90px;
}
.Our_courses__nameBlock{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Our_courses__title{
    font-family: 'HerculesModern'; 
    height: 56px;
    width: 289px;
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}
.Our_courses__body{
    height: 943px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.courses_body__number{
    height: 621px;
    width: 2px;
    left: 50%;
    top: 140px;
    background-color: #C9C9C9;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.courses_body__number .number{
    height: 50px;
    width: 50px;
    border-radius: 300px;
    font-family: 'HerculesModern'; 
    background: #C9C9C9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses_body__leftColump{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.body_leftColump__top{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.leftColump_top__img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.leftColump_top__title{
    height: 25px;
    width: 152px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Gilroy-Medium'; 
    margin: 28px 0px;
}
.leftColump_top__text{
    height: 75px;
    width: 382px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.body_leftColump__bottom{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.leftColump_bottom__img{
    height: 100px;
    width: 100px;
    border-radius: 10px;

}
.leftColump_bottom__title{
    height: 25px;
    width: 102px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Gilroy-Medium'; 
    margin: 28px 0px;
}
.leftColump_bottom__text{
    height: 75px;
    width: 382px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.body_rightColump__bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.courses_body__rightColump{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
/* block_three story about irina */
.story_about__irina.bg,
.story_about__irina.fiveblock{
    background-color: white;
    position: relative;
}
.about_irina__columpRight.bg{
    justify-content: center;
}
.about_irina__columpLeft.bg{
    justify-content: center;
}
/* block four video container */
.video_container{
    height: 803px;
    width: 100%;
    max-width: 1960px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.video_container__name{
    height: 56px;
    width: 331px;
    margin: 10px auto 43px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}
.video_container__block{
    height: 670px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video_play{
    height: 312px;
    border-radius: 10px;
    background-image: url(../img/LearningPlatform/video_wallpapers.png);
    background-repeat: none;
    background-size: auto;
}
/* block_five How our courses work */
.story_about__irina.fiveblock{
    height: 501px;
    width: 90%;
    max-width: 1200px;
}

.slider_childen__backImg,
.slider_childen__nextImg{
    height: 60px;
    width: 60px;
    border-radius: 300px;
    cursor: pointer;
}

/* block popular questions */
.popular_questione{
    height: 650px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular_questione__title{
    height: 56px;
    width: 512px;
    font-family: 'HerculesModern'; 
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    margin: 10px 0px;
}
.popular_questione__container{
    width: 100%;
    height: 594px;
    display: flex;
    justify-content: space-around;
}
.questione_container__left{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
.container_left__one{
    width: 561px;
    height: 100px;
    border-top: 2px solid #a9a9a9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    overflow: hidden;
}
.container_left__one.container_big__size{
    height: 300px;
}
.left_one__text.text_display__flex{
    display: flex;
}
.left_one__pluse{
    width: 50px;
    position: absolute;
    right: 0px;
    top: 18px;
    cursor: pointer;
}
.left_one__title{
    height: 25px;
    width: 100px;
    margin: 40px 0px;
    font-family: 'Gilroy-Medium'; 
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.left_one__text{
    display: none;
    height: 100px;
    width: 560px;
    left: 1px;
    top: 182px;
    font-family: 'Gilroy-Regular'; 
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
/* footer */

footer{
    margin-top: 0px;
}
html::before{
    bottom: -50px;
}
footer{
    top: 50px;
}
/* 1880px */
@media screen and (max-width: 1882px) {
.video_container__block{
    height: 670px;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
    .video_play{
        height: 260px;
        width: auto;
        border-radius: 10px;
        background-image: url(../img/LearningPlatform/video_wallpapers.png);
    }
}
/* 1560px */
@media screen and (max-width: 1560px) {
    .video_play{
        height: 200px;
    }
}

/* 1442px */
@media screen and (max-width: 1442px) {
.row_boxOne__text{
    width: 268px;
} 
.freeDay_markets__errow{
    left: 15%;
    height: 101px;
}
.previous_releases__bottomBlock{
    padding: 0%;
}
.releases_bottomBlock__left,
.releases_bottomBlock__right{
    height: 401px;
    width: 501px;
}
.bottomBlock_left__list,
.bottomBlock_right__list{
    width: 500px;
}
.irina_columpLeft__name,
.irina_columpLeft__name__two{
padding-left: 20px;
width: 460px;
 }
.irina_columpLeft__text,
.irina_columpLeft__text__two{
    height: 180px;
    width: 465px;
	padding-left: 20px;
 }
 .video_container{
    height: 803px;
}
/* block popular questions */

.container_left__one{
    width: 501px;
}
}
/* 1189px */
@media screen and (max-width: 1200px) {
  /* block_one story about irina */
  .story_about__irina{
    height: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }
 .about_irina__columpLeft{
    width: 100%;
    height: 416px;
    padding-left: 0px;
 }
 .irina_columpLeft__name{
    margin-bottom: 23px;
    height: 84px;
    width: 181px;
    font-size: 30px;
    margin-bottom: 10px;
    margin: 16px 0; 
 }
 .irina_columpLeft__text{
    height: 286px;
    width: 96%;
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0px 0px;
 }
 .about_irina__columpRight{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
 }
 .about_irina_img{
    height: 136px;
    border-radius: 10px;
    margin-bottom: 0px;
    border: 2px solid red;   
 }
 .about_irina__img.small{
     width: 300px;
 }
 .about_irina__img.slider{
    height: 236px;
    width: 281px;
    border-radius: 10px;
    margin-bottom: 0px;   
 }
 .offerWords_text__try{
    width: 160px;
    margin-left: 20px;
  margin-top: 0px;
  top: -20px;
    
}
/* Our courses */
.video_container{
    height: 903px;
}
.block_Our__courses{
    height: 1155px;
    margin-top: 30px;
}
.Our_courses__nameBlock{
    margin-top: 0px;
    height: 126px;
    width: 297px;
}
.Our_courses__title{
    height: 36px;
    width: 297px;
    font-size: 30px;
    line-height: 42px;
}
.Our_courses__body{
    height: 1019px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.courses_body__number{
    height: 741px;
    width: 2px;
    left: 29px;
    top:120px;
    border-radius: 10px; 
}
.courses_body__number .number{
    height: 40px;
    width: 40px;
}
.courses_body__leftColump,
.courses_body__rightColump{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
}
.body_leftColump__top,
.body_leftColump__bottom,
.body_rightColump__bottom,
.body_rightColump__bottom{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.leftColump_top__img,
.leftColump_bottom__img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.leftColump_top__title,
.leftColump_bottom__title{
    height: 22px;
    width: 152px;
    font-size: 16px;
    line-height: 22px;
    margin: 17px 0px 9px;
    text-align: start;
}
.leftColump_top__text,
.leftColump_bottom__text{
    height: 110px;
    width: 240px;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
}
/* Certificates block */
.block_Certificates__slider{
    width: 100%;
    height: 575px;
}
.Certificates_slider__title{
    height: 42px;
    width: 250px;
}
.slider_title{
    height: 42px;
    width: 250px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}
.Certificates_slider__container{
    width: 100%;
    height: 533px;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
    margin-bottom: 0px;
}
.slider_container__backImg{
    height: 40px;
    width: 40px;
    left: 100px;
    top: 410px;
}
.container_images__one{
    height: 343px;
    width: 266px;
    margin-top: 57px;
}
.slider_container__nextImg{
    height: 40px;
    width: 40px;
    right: 100px;
    top: 10px;
}
.about_irina_img{
    height: 221px;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 25px; 
    display: none;  
 }
/* block_three story about irina */
.story_about__irina.bg{
    background-color: white;
}
.story_about__irina.bg{
    flex-direction: column-reverse;
}


/* block four video container */
.video_container__name{
    height: 26px;
    margin: 20px auto;
    font-size: 30px;
}
.video_container__block{
    height: 670px;
    width: 60%;
}
.video_play{
    height: 180px;
    margin: 10px 0px; 
   
}

/* block_five How our courses work */
.story_about__irina.fiveblock{
    height: 600px;
    margin-bottom: 40px;
}
.slider_childen__backImg img,
.slider_childen__nextImg img{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: -70px;
    right: 100px;
}
.slider_childen__backImg img{
    left: 100px;
}
.about_irina_img{
    height: 221px;
    overflow: hidden;
    border-radius: 10px; 
    margin-bottom: 25px; 
    display: none;  
 }
 /* block popular questions */
.popular_questione{
    height: 860px;
    width: 100%;
    margin-top: 80px;
    justify-content: start;
}
.popular_questione__title{
    height: 84px;
    width: 217px;
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0px;
}
.popular_questione__container{

    justify-content: start;
    flex-direction: column;

}
.questione_container__left{
    width: 100%;
    padding-left: 0px;
}
.container_left__one{
    width: 100%;
    height: 100px;
    padding-left: 10px;
}
.left_one__pluse{
    width: 30px;
    position: absolute;
    right: 0px;
    top: 18px;
}
.left_one__title{
    height: 25px;
    width: 87px;
    margin: 20px 0px;
    font-family: 'Gilroy-Medium'; 
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.left_one__text{
    display: none;
    height: 176px;
    width: 291px;
    font-size: 16px;
    line-height: 22px;
}
}



